<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
		  <table class ="table mt-5">
        <tbody>
          <tr>
            <th>ニックネーム</th>
            <td><%= @customer.nickname %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <p class="text-right"><%= link_to "プロフィール編集", edit_customer_path(@customer), class:"btn btn-sm btn-success" %></p>

      <table class ="table mt-5">
        <thead>
          <tr>
            <th>ブックマーク</th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td><%=link_to bookmark.ng_expression.ng_expression, ng_expression_path(bookmark.ng_expression.id) %></td>
          <% end %>
        </tbody>
      </table>

      <table class ="table mt-5">
        <thead>
          <tr>
            <th>下書きコメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%=comment.comment %></td>
              <td>
                <%=comment.content.title %>に<%=comment.ng_expression.ng_expression %>は出てくる？
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
		</div>
	</div>
</div>
