<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light"><span class="bg-primary">　ジャンル新規登録　</span></h5>
		  <%= render 'form', ng_genre: @ng_genre, url: admin_ng_genres_path, submit: '登録' %>
		</div>
	</div>
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th>ジャンル一覧</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @ng_genres.each do |ng_genre| %>
						<tr>
							<td><%= link_to ng_genre.ng_genre,
							admin_ng_expressions_path(ng_genre.id), class: "underline" %></td>
							<td class="text-center">
								<%= link_to "編集", edit_admin_ng_genre_path(ng_genre), class: "btn btn-sm btn-success" %>
								<%= link_to "削除", admin_ng_genre_path(ng_genre), method: :delete,
									data: { confirm: '該当ジャンルに含まれるNG表現も削除されますが、本当に削除しますか？' },
									class:"btn btn-sm btn-danger" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<p><%= link_to "<<NG一覧", admin_ng_expressions_path %></p>
		</div>
	</div>
</div>