<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light">
				<span class="bg-primary">　<%= @content.title %>に<%= @ng_expression.ng_expression %>は出てくる？　</span>
			</h5>
      <table class="table mt-3">
				<thead>
					<tr>
						<th colspan="2" class="text-center">コメント一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @comments.each do |comment| %>
						<% if customer_signed_in? %>
							<!-- boolean型は==trueを書かなくていい -->
							<% unless comment.is_draft && comment.customer_id != current_customer.id %>
								<tr>
									<td>
										<!-- boolean型は==falseの時は頭に！をつければいい -->
										<% if !comment.is_draft %>
											<p><%= comment.comment %></p>
										<% else %>
											<p class ="text-secondary"><small><%= comment.comment %>(下書き)</small></p>
										<% end %>
									</td>
									<td>
										<% if comment.customer_id == current_customer.id %>
											<%= link_to "編集",
												edit_ng_expression_comment_path(@ng_expression.id, comment.id, content_id: @content.id),
												class: "btn btn-sm btn-success" %>
											<%= link_to "削除",
												ng_expression_comment_path(@ng_expression.id, comment.id), method: :delete,
												class:"btn btn-sm btn-danger" %>
										<% end %>
									</td>
								</tr>
							<% end %>
						<% else %>
							<% unless comment.is_draft %>
								<tr>
									<td><%= comment.comment %></td>
									<td></td>
								</tr>
							<% end %>
						<% end %>
					<% end %>
				</tbody>
			</table>
			<% if customer_signed_in? %>
				<p><%= link_to "コメント追加に戻る", new_ng_expression_comment_path(@ng_expression.id, content_id: @content.id) %></p>
			<% end %>
			<p><%= link_to "<<"+@content.title, content_path(@content) %></p>
			<p><%= link_to "<<"+@ng_expression.ng_expression, ng_expression_path(@ng_expression) %></p>
		</div>
	</div>
</div>