<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light">
				<span class="bg-primary">
					<%= @content.title %>に<%= @ng_expression.ng_expression %>は出てくる？
				</span>
			</h5>
		  <%= render 'form', comment: @comment,
			  content: @content, ng_expression: @ng_expression,
			  url: ng_expression_comments_path,
		  	submit: '送信',
		  	draft: '下書き保存' %>

			<p><%= link_to "<<コメント一覧", ng_expression_comments_path(@ng_expression.id, content_id: @content.id) %></p>
			<p><%= link_to "<<"+@content.title, content_path(@content) %></p>
			<p><%= link_to "<<"+@ng_expression.ng_expression, ng_expression_path(@ng_expression) %></p>
		</div>
	</div>
</div>
