<div class="container mt-5">
	<div class="row">
    <% if @range == "NgExpression" %>
		  <div class="offset-lg-2 col-lg-8 col-sm-12">
        「<%= @ng_expression %>」の検索結果
        <table class="table mt-3">
  				<thead>
  					<tr>
  						<th>NG表現</th>
  						<th>分類</th>
  					</tr>
  				</thead>
  				<tbody>
  					<% @ng_expressions.each do |ng| %>
  						<tr>
  							<td>
  								<%= link_to ng.ng_expression, ng_expression_path(ng)%>
  							</td>
  							<td><%= ng.ng_genre.ng_genre %></td>
  						</tr>
  					<% end %>
  				</tbody>
  			</table>
  		</div>
    <% else %>
      <div class = "col-lg-12">
        <%if params[:looking_for].present? %>
          <% movieinfo = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
          <h2><%= params[:looking_for] %>の検索結果</h2>
          =====================
          <div class = "col-lg-12">
            <% i = 0 %>
            <% while i < movieinfo['table']['results'].count %>
              <div class="card" style="height: 200px;">
                <div class="row">
                <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                  <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <div class="col-2 search-img">
                      <!--画像の表示方法は、「BASEURL + 画像サイズ + 画像パス」-->
                      <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %>
                    </div>
                  <%end%>
                  <div class="col-10">
                    <!--()の中身はコントローラに送るパラメータ -->
                    <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                      <h5 class="card-title">
                        <%= link_to movieinfo['table']['results'][i]['table']['title'],
                          contents_path(
                            name: movieinfo['table']['results'][i]['table']['title'],
                            release: movieinfo['table']['results'][i]['table']['release_date'],
                            tmdb_id: movieinfo['table']['results'][i]['table']['id']
                            ), method: :post, class: "stretched-link" %>
                      </h5>
                      <% x = 0 %>
                      <% while x < movieinfo['table']['results'][i]['table']['genre_ids'].count %>
                        <% genre_id = movieinfo['table']['results'][i]['table']['genre_ids'][x] %>
                        <%= @genres.find{|hash| hash['table']['id'] == genre_id }['table']['name'] %>
                        <% x += 1%>
                      <% end %>
                    <% else %>
                      <p>
                        <%= link_to movieinfo['table']['results'][i]['table']['title'],
                          contents_path(name: movieinfo['table']['results'][i]['table']['title']), method: :post %>
                      </p>
                    <% end %>
                    <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                      <p class="card-text"><small class="text-muted"><%= movieinfo['table']['results'][i]['table']['release_date'] %></small></p>
                    <%end%>

                    <% if movieinfo['table']['results'][i]['table']['overview'].present? %>
                      <p class="card-text search-overview"><%= movieinfo['table']['results'][i]['table']['overview'] %></p>
                    <%end%>
                  </div>

                <% end %>

                </div>
              </div>

              <% i += 1%>
            <%end%>
          </div>
        <% end %>
      </div>
    <% end %>
	</div>
</div>