<div class="container mt-5">
	<div class="row">
		<div class="col-12 text-center">
			<h4 class="mb-3"><%= alert %></h4>
			<h4>NGチェッカー</h4>
			<h5 class="mt-5">About</h5>
			<p>
				映画やドラマに苦手な表現(NG表現)が含まれていないか事前に確認するためのサイトです。<br>
				視聴済みの方は、該当の表現が出てくるかどうかを投票やコメントで教えてください。<br>
				NG表現の一覧は<%= link_to "こちら", ng_expressions_path %><br>
				コンテンツの一覧は<%= link_to "こちら", contents_path %><br>
				コンテンツ一覧に表示されていないものも、検索することで随時追加されます。
			</p>
			<p>このサイトはThe Movie Database (TMDB)のAPIを使用しています。</p>
			<%= link_to image_tag('TMDb-logo.svg', width: 150), "https://www.themoviedb.org/" %>
		</div>
	</div>
</div>
<% drink = [
  {"name"=>"コーヒー","size"=>"S","price"=>"400","eat"=>"持ち帰り"} ,
  {"name"=>"カフェオレ","size"=>"M","price"=>"500","eat"=>"持ち帰り"} ,
  {"name"=>"オレンジジュース","size"=>"S","price"=>"450","eat"=>"店内"}] %>
<% select_drink = drink.select { |x|x["size"]=="S" } %>
<% i = 0 %>
<% while i < select_drink.count %>
  <%= select_drink[i]["name"] %>
  <% i += 1%>
<%end%>