<div class="container mt-5">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>ユーザー情報</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= @customer.nickname %>
						</td>
						<td>
    					<% if @customer.is_deleted? %>
    						<span>退会済み</span>
    					<% else %>
    						<span>有効</span>
    					<% end %>
    				</td>
						<td class="text-center">
							<%= link_to "編集", edit_admin_customer_path(@customer), class: "btn btn-sm btn-success" %>
						</td>
					</tr>
				</tbody>
			</table>
			<h6><%= @customer.nickname %>の投稿したコメント一覧</h6>
			<table class="table mt-3">
				<thead>
					<tr>
						<th>コメント</th>
						<th>作品名</th>
					</tr>
				</thead>
				<tbody>
					<% @comments.each do |comment| %>
						<% unless comment.is_draft %>
							<tr>
								<td>
									<%= comment.comment %>
								</td>
								<td>
									<%= comment.content.title %>
								</td>
								<td>
									<%= link_to "削除",
											admin_ng_expression_comment_path(comment.ng_expression_id, comment.id), method: :delete,
											class:"btn btn-sm btn-danger" %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>