<%= form_with model:content, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: content %>
	<div class="flex">
		<table class="table">
			<tbody>
				<tr>
					<td class="text-nowrap"><%= f.label :title, "タイトル" %></td>
					<td><%= f.text_field :title, class: "form-control" %></td>
				</tr>
				<tr>
					<td><%= f.label :release_date, "公開" %></td>
					<td><%= f.text_field :release_date, class: "form-control" %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<%= f.submit submit, class: "btn btn-sm btn-primary" %>
	</div>
<% end %>