<div class="container mt-5">
	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-12">
			<h3 class="side-title">媒体</h3>
				<ul>
					<li><%= link_to "すべて", admin_contents_path %></li>
					<% @media_genres.each do |media_genre| %>
						<li>
							<%= link_to media_genre.media, admin_contents_path(media_genre_id: media_genre.id) %>
						</li>
					<% end %>
				</ul>
			<h3 class="side-title">作品傾向</h3>
				<ul>
					<li><%= link_to "すべて", admin_contents_path %></li>
					<% @story_genres.each do |story_genre| %>
						<li>
							<%= link_to story_genre.story, admin_contents_path(story_genre_id: story_genre.id) %>
						</li>
					<% end %>
				</ul>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-12">
			<% if params[:story_genre_id] %>
				<h5><%= @story_genre.story %></h5>
			<% end %>
			<% if params[:media_genre_id] %>
				<h5><%= @media_genre.media %></h5>
			<% end %>
			<table class="table mt-3">
				<thead>
					<tr>
						<th>コンテンツ一覧</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @contents.each do |content| %>
						<tr>
							<td>
								<%= link_to content.title, admin_content_path(content), class: "underline" %>
							</td>
							<td class="text-center">
								<%= link_to "編集", edit_admin_content_path(content), class: "btn btn-sm btn-success" %>
								<%= link_to "削除", admin_content_path(content), method: :delete, class:"btn btn-sm btn-danger" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>