<div class="container mt-5">
  <h5 class="text-center"><%= @content.title %></h5>
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<table class="table mt-3">
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= ng.ng_expression %>
							</td>
							<!-- パスパラメータのng.idで親の引数、0で子の引数を指定している。パスパラメータ、クエリパラメータ(コロンいるやつ）の順に記述-->
							<td>
								◯
								<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
								/
								×
								<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
								/
								△
								<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
							</td>
							<td>
								<%= link_to "コメント", admin_ng_expression_comments_path(ng.id, content_id: @content.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<p><%= link_to "<<コンテンツ一覧", admin_contents_path %></p>
		</div>
	</div>
</div>