<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light"><span class="bg-primary">　媒体管理　</span></h5>
		  <%= render 'form', media_genre: @media, url: admin_media_genres_path, submit: '登録' %>

		  <table class="table mt-3">
				<thead>
					<tr>
						<th>媒体</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @medias.each do |media| %>
						<tr>
							<td><%= link_to media.media, admin_media_genre_path(media.id) %></td>
							<td class="text-center">
							  <%= link_to "編集", edit_admin_media_genre_path(media), class: "btn btn-sm btn-success" %>
							  <%= link_to "削除", admin_media_genre_path(media), method: :delete, class:"btn btn-sm btn-danger" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<p><%= link_to "<<コンテンツ一覧", admin_contents_path %></p>
		</div>
	</div>
</div>