<tr>
	<td>
		<%= link_to content.title, content_path(content) %>に<%= ng_expression.ng_expression %>は出てくる？
	</td>
	<td class=<%= "vote-ng-" + ng_expression.id.to_s + "-content-" + content.id.to_s %>>
		<%= render 'yes_no_difficult', content: content, ng_expression: ng_expression %>
	</td>
</tr>
<tr>
	<td>
		<% if customer_signed_in? %>
			<%= link_to "コメント追加", new_ng_expression_comment_path(ng_expression.id, content_id: content.id) %> /
		<% end %>
		<%= link_to "コメント一覧(" + comments.where(content_id: content.id).count.to_s + ")",
			ng_expression_comments_path(ng_expression.id, content_id: content.id) %>
	</td>
	<td></td>
</tr>