<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5><%= @ng_expression.ng_expression %>は出てくる？</h5>
			<p>
				<% if @ng_expression.bookmarked_by?(current_customer) %>
					<%= link_to "ブックマークを外す", ng_expression_bookmarks_path(@ng_expression), method: :delete %>
				<% else %>
					<%= link_to "ブックマークする", ng_expression_bookmarks_path(@ng_expression), method: :post %>
				<% end %>
			</p>
			<p>
				<%= link_to "「◯」の投票数  ≧「×」の投票数を表示", ng_expression_path(@ng_expression, presence: true) %><br>
			</p>
			<p>
				<%= link_to "「◯」の投票数  ≦「×」の投票数を表示", ng_expression_path(@ng_expression, presence: false) %><br>
			</p>
			<p>
				<%= link_to "すべて表示", ng_expression_path(@ng_expression) %>
			</p>
			<table class="table mt-3">
				<tbody>
					<% if params[:presence] == "true" %>
						<% @contents.each do |content| %>
							<% if content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count >= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
								<%= render 'vote', content: content, ng_expression: @ng_expression, comments: @comments %>
							<%end%>
						<%end%>

					<% elsif params[:presence] == "false" %>
						<% @contents.each do |content| %>
							<% if content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count <= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
								<%= render 'vote', content: content, ng_expression: @ng_expression, comments: @comments %>
							<%end%>
						<% end %>
					<% else %>
						<% @contents.each do |content| %>
							<%= render 'vote', content: content, ng_expression: @ng_expression, comments: @comments %>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
