<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h5><%= @ng_expression.ng_expression %>は出てくる？</h5>
			<p>
				<% if @ng_expression.bookmarked_by?(current_customer) %>
					<%= link_to "ブックマークを外す", ng_expression_bookmarks_path(@ng_expression), method: :delete %>
				<% else %>
					<%= link_to "ブックマークする", ng_expression_bookmarks_path(@ng_expression), method: :post %>
				<% end %>
			</p>
			<p>
				<%= link_to "「◯」の投票数≧「×」の投票数を表示", ng_expression_path(@ng_expression, presence: true) %><br>
			</p>
			<p>
				<%= link_to "「◯」の投票数≦「×」の投票数を表示", ng_expression_path(@ng_expression, presence: false) %><br>
			</p>
			<p>
				<%= link_to "すべて表示", ng_expression_path(@ng_expression) %>
			</p>
			<table class="table mt-3">
				<tbody>
					<% if params[:presence] == "true" %>
						<% @yes.each do |y| %>
						<% if y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count >= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
							<tr>
								<td>
									<%= link_to y.content.title, content_path(y.content.id) %>に<%= @ng_expression.ng_expression %>は出てくる？
								</td>
								<td>
									<% if customer_signed_in? %>
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 0, content_id: y.content.id), method: :post do %>
											◯
											<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
										<% end %>
										/
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 1, content_id: y.content.id), method: :post do %>
											×
											<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
										<% end %>
										/
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 2, content_id: y.content.id), method: :post do %>
											△
											<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
										<% end %>
									<% else %>
										◯
										<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
										/
										×
										<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
										/
										△
										<%= y.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td>
									<% if customer_signed_in? %>
										<%= link_to "コメント追加", new_ng_expression_comment_path(@ng_expression.id, content_id: y.content.id) %> /
									<% end %>
									<%= link_to "コメント一覧", ng_expression_comments_path(@ng_expression.id, content_id: y.content.id) %>
								</td>
								<td></td>
							</tr>
						<%end%>
					<%end%>

					<% elsif params[:presence] == "false" %>
						<% @no.each do |n| %>
							<% if n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count >= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count  %>
								<tr>
									<td>
										<%= link_to n.content.title, content_path(n.content.id) %>に<%= @ng_expression.ng_expression %>は出てくる？
									</td>
									<td>
										<% if customer_signed_in? %>
											<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 0, content_id: n.content.id), method: :post do %>
												◯
												<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
											<% end %>
											/
											<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 1, content_id: n.content.id), method: :post do %>
												×
												<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
											<% end %>
											/
											<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 2, content_id: n.content.id), method: :post do %>
												△
												<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
											<% end %>
										<% else %>
											◯
											<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
											/
											×
											<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
											/
											△
											<%= n.content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td>
										<% if customer_signed_in? %>
											<%= link_to "コメント追加", new_ng_expression_comment_path(@ng_expression.id, content_id: n.content.id) %> /
										<% end %>
										<%= link_to "コメント一覧", ng_expression_comments_path(@ng_expression.id, content_id: n.content.id) %>
									</td>
									<td></td>
								</tr>
							<% end %>
						<% end %>
					<% else %>
						<% @contents.each do |content| %>
							<tr>
								<td>
									<%= link_to content.title, content_path(content) %>に<%= @ng_expression.ng_expression %>は出てくる？
								</td>
								<td>
									<% if customer_signed_in? %>
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 0, content_id: content.id), method: :post do %>
											◯
											<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
										<% end %>
										/
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 1, content_id: content.id), method: :post do %>
											×
											<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
										<% end %>
										/
										<%= link_to ng_expression_ng_answer_vote_path(@ng_expression.id, 2, content_id: content.id), method: :post do %>
											△
											<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
										<% end %>
									<% else %>
										◯
										<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 0).count %>
										/
										×
										<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 1).count %>
										/
										△
										<%= content.ng_answers.where(ng_expression_id: @ng_expression.id, vote: 2).count %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td>
									<% if customer_signed_in? %>
										<%= link_to "コメント追加", new_ng_expression_comment_path(@ng_expression.id, content_id: content.id) %> /
									<% end %>
									<%= link_to "コメント一覧", ng_expression_comments_path(@ng_expression.id, content_id: content.id) %>
								</td>
								<td></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
