<%= form_with model:ng_expression, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: ng_expression %>
	<div class="flex">
		<table class="table">
			<thead>
				<tr>
					<th><%= title %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "NG表現" %></td>
					<td><%= f.text_field :ng_expression %></td>
				</tr>
				<tr>
					<td><%= f.label :ng_genre_id, "ジャンル" %></td>
					<td>
						<%= f.collection_select :ng_genre_id, NgGenre.all, :id, :ng_genre, :prompt => "選択してください" %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<%= f.submit submit, class: "btn btn-sm btn-primary" %>
	</div>
<% end %>