<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-12">
			<h5 class="text-center text-light"><span class="bg-primary">　NG表現　</span></h5>
		  <%= render 'form', ng_expression: @ng_expression, url: admin_ng_expressions_path,
		  title: 'NG表現新規登録',submit: '登録' %>
		</div>
	</div>
	<div class="row">
		<div class="offset-lg-2 col-lg-2 col-sm-4">
			<h5 class ="mt-4">
				ジャンル
				<%= link_to "+", admin_ng_genres_path, class: "btn  btn-sm btn-primary" %>
			</h5>
				<ul class="list-unstyled">
					<li><%= link_to "すべて", admin_ng_expressions_path %></li>
					<% @ng_genres.each do |ng_genre| %>
						<li>
							<%= link_to ng_genre.ng_genre, admin_ng_expressions_path(ng_genre_id: ng_genre.id) %>
						</li>
					<% end %>
				</ul>
		</div>
		<div class="col-lg-6 col-sm-8">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>NG表現一覧</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= link_to ng.ng_expression, admin_ng_expression_path(ng), class: "underline" %>
							</td>
							<td class="text-center">
								<%= link_to "編集", edit_admin_ng_expression_path(ng), class: "btn btn-sm btn-success" %>
								<%= link_to "削除", admin_ng_expression_path(ng), method: :delete, class:"btn btn-sm btn-danger" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>