<table class="table mt-3">
	<thead>
		<tr>
			<th>NG一覧</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% ng_expressions.each do |ng| %>
			<tr>
				<td>
					<%= link_to ng.ng_expression, ng_expression_path(ng) %>は出てくる？
				</td>
				<!-- パスパラメータのng.idで親の引数、0で子の引数を指定している。パスパラメータ、クエリパラメータ(コロンいるやつ）の順に記述-->
				<td class=<%= "vote-content-" + content.id.to_s + "-ng-" + ng.id.to_s %>>
					<%= render 'yes_no_difficult', content: content, ng: ng %>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<% if customer_signed_in? %>
						<%= link_to "コメント追加", new_ng_expression_comment_path(ng.id, content_id: content.id) %>
					<% end %>
					/
					<%= link_to "コメント一覧(" + comments.where(ng_expression_id: ng.id).count.to_s + ")",
						ng_expression_comments_path(ng.id, content_id: content.id) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
