<div class="container mt-5">

  <h1><%= @content.title %></h1>

	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>NG一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= ng.ng_expression %>が
							</td>
							<td>
								<%= link_to ng_expression_ng_answer_vote_path(ng.id, 0), method: :post do %>
					        出てくる
					        <%= ng.ng_answers.where(vote: 0).count %>
					      <% end %>
					      /
					      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 1), method: :post do %>
					        出てこない
					      <% end %>
					      /
					      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 2), method: :post do %>
					        どちらとも言えない
					      <% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>