<div class="container mt-5">
	<div class="row">
		<div class="offset-lg-1 col-lg-2 col-md-4 col-sm-6">

		  <%# movieinfo = JSON.parse((Tmdb::Search.movie(@content.title)).to_json) %>
		  <%# movieinfo = JSON.parse((Tmdb::Movie.detail(@content.tmdb_id, language: 'jp')).to_json) %>
		  <% movieinfo = JSON.parse((Tmdb::Movie.detail(@content.tmdb_id)).to_json) %>
			<% if movieinfo['table']['poster_path'].present? %>
				<%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['poster_path'],class: "card-img" %>
			<% end %>
		</div>
		<div class="offset-lg-1 col-lg-8 col-md-8 col-sm-12">
			<h5><%= @content.title %></h5>
			<h5 class="text-muted"><small><%= @content.release_date %></small></h5>
			<p>
				<% x = 0 %>
	      <% while x < movieinfo['table']['genres'].count %>
	        <%= movieinfo['table']['genres'][x]['table']['name'] %>
	        <% if x+1 <  movieinfo['table']['genres'].count %>
						<%='ã€' %>
	        <% end %>
	        <% x += 1%>
	      <% end %>
			</p>
			<p><%= movieinfo['table']['overview'] %></p>
		</div>
	</div>
	<div class="row">
		<div id="ng_answers" class="offset-lg-2 col-lg-8 col-sm-12">
			<%= render 'vote', content: @content, ng_expressions: @ng_expressions, comments: @comments %>
		</div>
	</div>
</div>