<div class="container mt-5">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
		  <% movieinfo = JSON.parse((Tmdb::Search.movie(@content.title)).to_json) %>
			<% i = 0 %>
			<% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
				<%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %>
			<% end %>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h3><%= @content.title %></h3>
			<h3><%= @content.release_date %></h3>
			<%= movieinfo['table']['results'][i]['table']['overview'] %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>NG一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= ng.ng_expression %>が
							</td>
							<!-- パスパラメータのng.idで親の引数、0で子の引数を指定している。パスパラメータ、クエリパラメータ(コロンいるやつ）の順に記述-->
							<td>
					    	<%= link_to ng_expression_ng_answer_vote_path(ng.id, 0, content_id: @content.id), method: :post do %>
					        出てくる
					        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
					      <% end %>
					      /
					      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 1, content_id: @content.id), method: :post do %>
					        出てこない
					        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
					      <% end %>
					      /
					      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 2, content_id: @content.id), method: :post do %>
					        どちらとも言えない
					        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
					      <% end %>
							</td>
						</tr>
						<tr>
							<td>
								<%= link_to "コメント追加", new_ng_expression_comment_path(ng.id, content_id: @content.id) %>
								<%= link_to "コメント一覧", ng_expression_comments_path(ng.id, content_id: @content.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>