<div class="container mt-5">

  <h1><%= @content.title %></h1>

	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<table class="table mt-3">
				<thead>
					<tr>
						<th>NG一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @ng_expressions.each do |ng| %>
						<tr>
							<td>
								<%= ng.ng_expression %>が
							</td>
							<!-- パスパラメータのng.idで親の引数、0で子の引数を指定している。パスパラメータ、クエリパラメータ(コロンいるやつ）の順に記述-->
							<td>
								<% if @content.answered_by?(current_customer, ng, 0) %>
									<%= link_to ng_expression_ng_answer_path(ng.id, 0, content_id: @content.id), method: :delete do %>
										出てくる
										<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
									<% end %>
									/
									<%= link_to ng_expression_ng_answer_path(ng.id, 0, content_id: @content.id), method: :delete do %>
									<%= link_to ng_expression_ng_answer_vote_path(ng.id, 1, content_id: @content.id), method: :post do %>
										出てこない
										<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
									<% end %>
									<% end %>
						      /
						      <%= link_to ng_expression_ng_answer_path(ng.id, 0, content_id: @content.id), method: :delete do %>
						      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 2, content_id: @content.id), method: :post do %>
						        どちらとも言えない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
						      <% end %>
						      <% end %>
						    <% elsif @content.answered_by?(current_customer, ng, 1) %>
						    	<%= link_to ng_expression_ng_answer_path(ng.id, 1, content_id: @content.id), method: :delete do %>
						    	<%= link_to ng_expression_ng_answer_vote_path(ng.id, 0, content_id: @content.id), method: :post do %>
						        出てくる
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
						      <% end %>
						      <% end %>
						      /
						      <%= link_to ng_expression_ng_answer_path(ng.id, 1, content_id: @content.id), method: :delete do %>
						        出てこない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
						      <% end %>
						      /
						      <%= link_to ng_expression_ng_answer_path(ng.id, 1, content_id: @content.id), method: :delete do %>
						      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 2, content_id: @content.id), method: :post do %>
						        どちらとも言えない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
						      <% end %>
						      <% end %>
						    <% elsif @content.answered_by?(current_customer, ng, 2) %>
						    	<%= link_to ng_expression_ng_answer_path(ng.id, 2, content_id: @content.id), method: :delete do %>
						    	<%= link_to ng_expression_ng_answer_vote_path(ng.id, 0, content_id: @content.id), method: :post do %>
						        出てくる
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
						      <% end %>
						      <% end %>
						      /
						      <%= link_to ng_expression_ng_answer_path(ng.id, 2, content_id: @content.id), method: :delete do %>
						      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 1, content_id: @content.id), method: :post do %>
										出てこない
										<%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
									<% end %>
									<% end %>
									/
									<%= link_to ng_expression_ng_answer_path(ng.id, 2, content_id: @content.id), method: :delete do %>
						        どちらとも言えない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
						      <% end %>
						    <% else %>
						    	<%= link_to ng_expression_ng_answer_vote_path(ng.id, 0, content_id: @content.id), method: :post do %>
						        出てくる
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 0).count %>
						      <% end %>
						      /
						      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 1, content_id: @content.id), method: :post do %>
						        出てこない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 1).count %>
						      <% end %>
						      /
						      <%= link_to ng_expression_ng_answer_vote_path(ng.id, 2, content_id: @content.id), method: :post do %>
						        どちらとも言えない
						        <%= @content.ng_answers.where(ng_expression_id: ng.id, vote: 2).count %>
						      <% end %>
						    <% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>