<!DOCTYPE html>
<html>
  <head>
    <title>NgChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg border-bottom border-dark">
        <div class = "container-fluid">
          <%= link_to "NGチェッカー", root_path, class: "navbar-brand text-reset" %>
          <ul class = "navbar-nav ml-auto">
            <div class = "collapse navbar-collapse">
              <% if customer_signed_in? %>
                <li>
                  ようこそ、<%= current_customer.nickname %>さん！
                </li>
                <li>
                  <%= link_to "コンテンツ一覧", contents_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "NG一覧", ng_expressions_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "コンテンツ一覧", admin_contents_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "NG一覧", admin_ng_expressions_path, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-light mx-3", style: "width: 110px;" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "コンテンツ一覧", contents_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "NG一覧", ng_expressions_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to "ログイン", customer_session_path, class: "btn btn-light mx-3", style: "width: 110px;" %>
                </li>
                <li>
                  <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
                </li>
              <% end %>
            </div>

          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
